@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --red:#E50914;
    --black:#000000;
    --light-color:#181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
   
}
body{
    background-color: var(--light-color);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem;
}


/* Navbar */

header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    background-color: rgb(20, 19, 19);
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
}



header .logo{
    width: 150px;
    height: 50px;
}

.navbar{
    margin-left: 150px;
}


header .navbar a{
    font-size: 1.8rem;
    border-radius: 0.5em;
    padding: 0.5rem 3rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--red);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background:var(--red);
}

header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: #fff;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}







/* home section */


.heading{
    margin-top: 30px;
    text-align: center;
    color: var(--red);
    margin-bottom: 3rem;
    font-size:4rem;
}

.btn{
    margin-top:1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background: var(--black);
    color: var(--red);
    letter-spacing: .1rem;
}



/* Dbms */

.dbms{
    padding:5rem;
    
}

.dbms .box{
    width: 299px;
    height:168px;
}
.dbms .box img{
    margin-left:20px;
    width:299px;
    height:168px;
    align-items: center;
}

.dbms .content h3{
    margin-left:20px;
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
}

.dbms .content p{
    margin-left:20px;
    text-align: left;
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}



/* coa */

.coa{
    padding:5rem;
}

.coa .box{
    width: 299px;
    height:168px;
}
.coa .box img{
    margin-left:20px;
    width:299px;
    height:168px;
    align-items: center;
}

.coa .content h3{
    margin-left:20px;
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
}

.coa .content p{
    margin-left:20px;
    text-align: left;
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}





/* gt */

.gt{
    padding:5rem;
}

.gt .box{
    width: 299px;
    height:168px;
}
.gt .box img{
    margin-left:20px;
    width:299px;
    height:168px;
    align-items: center;
}

.gt .content h3{
    margin-left:20px;
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
}

.gt .content p{
    margin-left:20px;
    text-align: left;
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}




/* gt */

.os{
    padding:5rem;
}

.os .box{
    width: 299px;
    height:168px;
}
.os .box img{
    margin-left:20px;
    width:299px;
    height:168px;
    align-items: center;
}

.os .content h3{
    margin-left:20px;
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    background: transparent;
}

.os .content p{
    margin-left:20px;
    text-align: left;
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}
.copyright{
    margin-top: 50px;
    display: block;
    padding: 20px;   
    text-align: center;
}

.copyright h3{
    color: var(--red);
    font-size: 2.1rem;
    font-weight: bolder;
}

.copyright p{
    font-size: 0.9rem;
    color: var(--red);
    font-size:2rem;
}
.copyright img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}







@media(max-width: 991px){
   .dbms{
    padding: 50px 0 0 0;
   }

    .dbms .swiper-slide{
        margin-right: 10px;
    }
    .dbms .box{
        
        width: 105px;
        height:117px;
    }
    .dbms .box img{
        margin-left:20px;
        width:105px;
        height:100px;
        align-items: center;
    }
    .dbms .content h3{
        margin-left:20px;
        font-size: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
        background: transparent;
    }
    .dbms .content{
        margin-left:20px;
        margin-top: 4px;
        width: 105px;
    }



    .coa{
        padding:65px 0 0 0;
       }

    .coa .swiper-slide{
        margin-right: 10px;
    }
    .coa .box{
        width: 105px;
        height:117px;
    }
    .coa .box img{
        margin-left:20px;
        width:105px;
        height:100px;
        align-items: center;
    }
    .coa .content h3{
        margin-left:20px;
        font-size: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
        background: transparent;
    }
    .coa .content{
        margin-left:20px;
        margin-top: 4px;
        width: 105px;
    }




    .gt{
        padding:60px 0 0 0;
       }

    .gt .swiper-slide{
        margin-right: 10px;
    }
    .gt .box{
        width: 105px;
        height:117px;
    }
    .gt .box img{
        margin-left:20px;
        width:105px;
        height:100px;
        align-items: center;
    }
    .gt .content h3{
        margin-left:20px;
        font-size: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
        background: transparent;
    }
    .gt .content{
        margin-left:20px;
        margin-top: 4px;
        width: 105px;
    }





    .os{
        padding:60px 0 0 0;
        margin-bottom: 40px;
       }

    .os .swiper-slide{
        margin-right: 10px;
    }
    .os .box{
        width: 105px;
        height:117px;
    }
    .os .box img{
        margin-left:20px;
        width:105px;
        height:100px;
        align-items: center;
    }
    .os .content h3{
        margin-left:20px;
        font-size: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
        background: transparent;
    }
    .os .content{
        margin-left:20px;
        margin-top: 4px;
        width: 105px;
    }
    .heading{
        margin-top: 25px;
        margin-left: 8px;
        text-align: left;
        color: var(--red);
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 600;
    }


    .copyright{
        height: 50px;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,.2);
       
        margin-top: 20px;
        display: block;
        padding: 10px;  
        align-items: center;
        justify-content: center; 
        text-align: center;
    }
    
    .copyright h3{
        color: var(--red);
        font-size: 1.8rem;
        font-weight: bolder;
    }
    
    .copyright p{
        font-size: 1.2rem;
        color: var(--red);
        margin-bottom: 3px;
        
    }

    


    .btn{
        margin-top:1rem;
        display: inline-block;
        font-size: 1.6rem;
        color: #fff;
        background: var(--red);
        border-radius: .5rem;
        cursor: pointer;
        padding: .8rem .3rem;
    }
   
    
    html{
        font-size: 55%;
        
    }
    header .logo{
        margin-left: 20px;
        width: 100px;
        height: 40px;
    }
    header{
        padding: 1rem 2rem;
    }
    
    header .icons #menu-bars{
        display: inline-block;
    }
    .navbar {
        margin-left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 55vh;
        background: var(--red);
        z-index: 999;
        transition: all .5s;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display:block;
        padding:1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--red);
    }
    .home .box .content h3{
        font-size:5rem;
    } 

    .home .box{
        height:20vh;
        width: 100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display: flex;
        align-items: center;
        object-fit: cover;
        background-size:100% 25vh !important;
        background-position: center !important;
        justify-content: flex-end;
        padding:2rem 9%;
    }

    
}
